page-timeline {
    $naranja: #f7a40b;
    ion-content {
       background-image: url('https://img.grouponcdn.com/deal/xs53BqSEs3torRAX76CG/H1-440x267/v1/c700x420.jpg');
    }
 
  
     ion-header{
        background-color: white !important;


    }

}

