page-timeline {
    $naranja: #f7a40b;
    ion-content {
        background-image: url('https://i.pinimg.com/564x/52/1e/be/521ebe854a49203ac194a8087b6f9f49.jpg');
    }
 
  
     ion-header{
        background-color: white !important;


    }

}

