<ion-menu  id="menu1"  [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Principal</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
                <button   ion-item   *ngFor="let item of pages"  (click)="openPage(item)" >
                        <ion-icon name=""></ion-icon>
                        {{item.titulo}}
                </button>

        </ion-list>
</ion-content>
</ion-menu>

<ion-menu  id="menu2" [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Principal</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list   >
                <button id="menu2"  ion-item   *ngFor="let item of pagesadentro"  (click)="openPage(item)" >
        <ion-icon name=""></ion-icon>
                        {{item.titulo}}
                 </button>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-nav [root]="rootPage"  #content ></ion-nav >

    